#Задание 1
Скачайте с сайта grouplens.org...movielens/ датасет любого размера. 

Определите, какому фильму было выставлено больше всего оценок 5.0.

In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('../data/ratings.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100004 entries, 0 to 100003
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   userId     100004 non-null  int64
 1   movieId    100004 non-null  int64
 2   rating     100004 non-null  float64
 3   timestamp  100004 non-null  int64
dtypes: float64(1), int64(3)
memory usage: 3.1 MB

In [4]:

df.sort_values(["movieId", "rating"], ascending=[True, False], inplace=True)

In [8]:
df[df.rating == 5].groupby(["movieId"]).value_counts()

movieId  userId  rating  timestamp
1        13      5.0     1331380058    1
         26      5.0     1360087980    1
         466     5.0     944892273     1
         357     5.0     832768614     1
         358     5.0     957480017     1
                                      ..
157296   287     5.0     1469161542    1
160590   56      5.0     1467095789    1
161944   287     5.0     1470167824    1
162542   611     5.0     1471520667    1
163949   547     5.0     1476419239    1
Length: 15095, dtype: int64

#Задание 2
По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [ ]:
power = pd.read_csv("power.csv")
power.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1189482 entries, 0 to 1189481
Data columns (total 4 columns):
 #   Column    Non-Null Count    Dtype
---  ------    --------------    -----
 0   country   1189482 non-null  object
 1   year      1189482 non-null  int64
 2   quantity  1189482 non-null  float64
 3   category  1189482 non-null  int64
dtypes: float64(1), int64(2), object(1)
memory usage: 36.3+ MB

In [ ]:
sum_baltica = power[
      (power.country.str.contains('Estonia|Latvia|Lithuania')) 
      & ((power['category'] == 4) | (power['category'] == 12) | (power['category'] == 21)) 
      & (power['quantity'] >= 0)
      & ((power.year > 2004) & ((power.year < 2011)) )
      ]['quantity'].sum()
print(f'Сумма потребления Прибалтийских стран с 2005 по 2010 по категориям 4, 12, 21: {sum_baltica}')

Сумма потребления Прибалтийских стран с 2005 по 2010 по категориям 4, 12, 21: 240580.0

#Задание 3
Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.
Примеры страниц (необязательно брать именно эти):

In [ ]:
url = 'https://fortrader.org/quotes'
tables = pd.read_html(url)
tables[3].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40 entries, 0 to 39
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Название      40 non-null     object
 1   Цена          40 non-null     object
 2   Изменение     40 non-null     object
 3   Изменение(%)  40 non-null     object
 4   Обновлено     0 non-null      float64
dtypes: float64(1), object(4)
memory usage: 1.7+ KB