## Обязательная часть

Будем осуществлять работу с непростым [набором данных](https://raw.githubusercontent.com/obulygin/pyda_homeworks/master/statistics_basics/horse_data.csv) о состоянии здоровья лошадей, испытывающих кишечные колики.

### Задание 1. Базовое изучение

Изучить представленный набор данных на основе [описания его столбцов](https://raw.githubusercontent.com/obulygin/pyda_homeworks/master/statistics_basics/horse_data.names) и выбрать 8 столбцов для дальнейшего изучения (среди них должны быть как числовые, так и категориальные). Провести расчет базовых метрик для них, кратко описать результаты.

### Задание 2. Работа с выбросами
Проанализировать значения по столбцам, рассчитать базовые статистики, найти выбросы.

### Задание 3. Работа с пропусками
Рассчитать количество пропусков для всех выбранных столбцов. Принять и обосновать решение о методе заполнения пропусков по каждому столбцу на основе рассчитанных статистик и возможной взаимосвязи значений в них. Сформировать датафрейм, в котором пропуски будут отсутствовать.

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
# добавим наименование столбцов согласно описанию
with open('/content/drive/MyDrive/Netology/horse_data.txt', 'r') as original:
    f = original.read()
with open('/content/drive/MyDrive/Netology/horse_data_modified.csv', 'w') as withcolums:
    withcolums.write('surgery?,Age,Hospital Number,rectal temperature,pulse,respiratory rate,temperature of extremities,peripheral pulse,mucous membranes,capillary refill time,pain,peristalsis,abdominal distension,nasogastric tube,nasogastric reflux,nasogastric reflux PH,rectal examination - feces,abdomen,packed cell volume,total protein,abdominocentesis appearance,abdomcentesis total protein,outcome,surgical lesion?,number is site of lesion,number is type,number is subtype,cp_data\n' + f)
    print('add columns names done')

add columns names done

In [ ]:
horses_df = pd.read_csv('/content/drive/MyDrive/Netology/horse_data_modified.csv')
horses_df

,surgery?,Age,Hospital Number,rectal temperature,pulse,respiratory rate,temperature of extremities,peripheral pulse,mucous membranes,capillary refill time,...,packed cell volume,total protein,abdominocentesis appearance,abdomcentesis total protein,outcome,surgical lesion?,number is site of lesion,number is type,number is subtype,cp_data
0,2,1,530101,38.50,66,28,3,3,?,2,...,45.00,8.40,?,?,2,2,11300,0,0,2
1,1,1,534817,39.2,88,20,?,?,4,1,...,50,85,2,2,3,2,2208,0,0,2
2,2,1,530334,38.30,40,24,1,1,3,1,...,33.00,6.70,?,?,1,2,0,0,0,1
3,1,9,5290409,39.10,164,84,4,1,6,2,...,48.00,7.20,3,5.30,2,1,2208,0,0,1
4,2,1,530255,37.30,104,35,?,?,6,2,...,74.00,7.40,?,?,2,2,4300,0,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,1,1,533886,?,120,70,4,?,4,2,...,55,65,?,?,3,2,3205,0,0,2
296,2,1,527702,37.20,72,24,3,2,4,2,...,44.00,?,3,3.30,3,1,2208,0,0,1
297,1,1,529386,37.50,72,30,4,3,4,1,...,60.00,6.80,?,?,2,1,3205,0,0,2
298,1,1,530612,36.50,100,24,3,3,3,1,...,50.00,6.00,3,3.40,1,1,2208,0,0,1
299,1,1,534618,37.2,40,20,?,?,?,?,...,36,62,1,1,3,2,6112,0,0,2

In [ ]:
# меняем типы данных
horses_df['rectal temperature'] = pd.to_numeric(horses_df['rectal temperature'], errors='coerce')
horses_df['pulse'] = pd.to_numeric(horses_df['pulse'], errors='coerce')
horses_df['respiratory rate'] = pd.to_numeric(horses_df['respiratory rate'], errors='coerce')

horses_df['pulse'] = horses_df['pulse'].astype("Int32")
horses_df['respiratory rate'] = horses_df['respiratory rate'].astype("Int32")

# точно определяем пустые значения в дата-сете
horses_df.replace('?', np.nan, inplace=True)
# забираем нужные столбцы для анализа
df = horses_df[['surgery?','Age', 'rectal temperature', 'pulse', 'respiratory rate', 'temperature of extremities', 'pain', 'outcome']]
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 8 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   surgery?                    299 non-null    object
 1   Age                         300 non-null    int64
 2   rectal temperature          240 non-null    float64
 3   pulse                       276 non-null    Int32
 4   respiratory rate            242 non-null    Int32
 5   temperature of extremities  244 non-null    object
 6   pain                        245 non-null    object
 7   outcome                     299 non-null    object
dtypes: Int32(2), float64(1), int64(1), object(4)
memory usage: 17.1+ KB

In [ ]:
# определенно в Age ошибка со значением 9 т.к. в описании есть категории 1 и 2
df['Age'].replace(9, 2, inplace=True)
df

/usr/local/lib/python3.7/dist-packages/pandas/core/generic.py:6619: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
0,2,1,38.5,66,28,3,5,2
1,1,1,39.2,88,20,NaN,3,3
2,2,1,38.3,40,24,1,3,1
3,1,2,39.1,164,84,4,2,2
4,2,1,37.3,104,35,NaN,NaN,2
...,...,...,...,...,...,...,...,...
295,1,1,NaN,120,70,4,2,3
296,2,1,37.2,72,24,3,4,3
297,1,1,37.5,72,30,4,4,2
298,1,1,36.5,100,24,3,3,1
299,1,1,37.2,40,20,NaN,NaN,3

# Задание 1
## Анализ колонок дата-сета
### Категории
surgery?
Age
temperature of extremities
pain
outcome


### Числовые
rectal temperature
pulse
respiratory rate

In [ ]:
# Сводная по параметрам
df.describe()
# в таком виде по категориальным типам данные бессмысленны, далее посчитаем отдельно числовые

              Age  rectal temperature       pulse  respiratory rate
count  300.000000          240.000000  276.000000        242.000000
mean     1.080000           38.167917   71.913043         30.417355
std      0.271746            0.732289   28.630557         17.642231
min      1.000000           35.400000   30.000000          8.000000
25%      1.000000           37.800000   48.000000         18.500000
50%      1.000000           38.200000   64.000000         24.500000
75%      1.000000           38.500000   88.000000         36.000000
max      2.000000           40.800000  184.000000         96.000000

In [ ]:
# С категориями можно работать в рамках группировки дата-сета, по числовым можно проводить аналитику после обработки данных
# Например, посмотреть зависимость возраста лошади и необходимости проведения операций
df.groupby('Age')['surgery?'].value_counts()

Age  surgery?
1    1           162
     2           113
2    1            18
     2             6
Name: surgery?, dtype: int64

# Задание 2

Посчитаем основные метрики и выбросы для числовых столбцов

In [ ]:
def calc_params(column):
    q1 = column.quantile(0.25)
    q3 = column.quantile(0.75)
    iqr = q3 - q1
    return {
        'mean': column.mean(),
        'moda': column.mode()[0],
        "median": column.median(),
        "disp": column.var(),
        'min': column.min(),
        'max': column.max(),
        'std': column.std(),
        'q1': q1,
        'q3': q3,
        'IQR': iqr,
        'lower outlier': q1 - (1.5*iqr),
        'higher outlier': q3 + (1.5*iqr)
    }

In [ ]:
# rectal temperature
columns = df[['rectal temperature', 'pulse', 'respiratory rate']]
for col in columns:
    res = calc_params(df[col])
    print(f'{col}:')
    for key, val in res.items():
        print(f'    {key}: {val} ')

rectal temperature:
    mean: 38.16791666666667
    moda: 38.0
    median: 38.2
    disp: 0.5362466875871686
    min: 35.4
    max: 40.8
    std: 0.7322886641121578
    q1: 37.8
    q3: 38.5
    IQR: 0.7000000000000028
    lower outlier: 36.74999999999999
    higher outlier: 39.550000000000004
pulse:
    mean: 71.91304347826087
    moda: 48
    median: 64.0
    disp: 819.7087747035573
    min: 30
    max: 184
    std: 28.630556660735
    q1: 48
    q3: 88
    IQR: 40
    lower outlier: -12.0
    higher outlier: 148.0
respiratory rate:
    mean: 30.417355371900825
    moda: 20
    median: 24.5
    disp: 311.2483282466308
    min: 8
    max: 96
    std: 17.64223138513467
    q1: 18.5
    q3: 36
    IQR: 17.5
    lower outlier: -7.75
    higher outlier: 62.25

In [ ]:
# отдельно по колонкам

# rectal temperature

rt = calc_params(df['rectal temperature'])
print(rt)
# какие значения попали в выбросы
df[~(df['rectal temperature'].between(rt['lower outlier'], rt['higher outlier'])) & (~df['rectal temperature'].isnull())]

{'mean': 38.16791666666667, 'moda': 38.0, 'median': 38.2, 'disp': 0.5362466875871686, 'min': 35.4, 'max': 40.8, 'std': 0.7322886641121578, 'q1': 37.8, 'q3': 38.5, 'IQR': 0.7000000000000028, 'lower outlier': 36.74999999999999, 'higher outlier': 39.550000000000004}

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
20,1,1,39.9,72,60,1,5,1
44,1,1,35.4,140,24,3,4,3
54,2,1,40.3,114,36,3,2,3
75,1,2,39.7,100,<NA>,3,2,3
80,1,1,36.4,98,35,3,4,2
91,2,1,40.3,114,36,3,2,2
99,2,1,39.6,108,51,3,2,1
118,1,1,36.5,78,30,1,5,1
141,2,1,36.0,42,30,NaN,NaN,2
238,2,1,36.1,88,<NA>,3,3,3
251,2,1,36.6,42,18,3,1,2
259,1,1,40.8,72,42,3,2,2
281,2,1,40.0,78,<NA>,3,2,2
298,1,1,36.5,100,24,3,3,1

***rectal temperature***

14 значений выброса.
Работать с этими данными можно, т.к. температура вполне может превышать норму, а значения не являются аномально высокими или низкими, что исключает вариант неверных данных, а скорее всего является причиной заболевания.

In [ ]:
# отдельно по колонкам

# pulse

pulse = calc_params(df['pulse'])
print(pulse)
# какие значения попали в выбросы
df[(df['pulse'] < pulse['lower outlier']) | (df['pulse'] > pulse['higher outlier'])]

{'mean': 71.91304347826087, 'moda': 48, 'median': 64.0, 'disp': 819.7087747035573, 'min': 30, 'max': 184, 'std': 28.630556660735, 'q1': 48, 'q3': 88, 'IQR': 40, 'lower outlier': -12.0, 'higher outlier': 148.0}

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
3,1,2,39.1,164,84,4,2,2
41,2,2,39.0,150,72,NaN,NaN,1
55,1,2,38.6,160,20,3,3,2
255,1,2,38.8,184,84,1,4,2
275,1,2,38.8,150,50,1,5,2

***pulse***
5 значений выброса. Анамально высокие значения, но с учетом того что в выбросе все лошади кроме одной погибли - есть вероятность того что такой пульс может быть у смертельно больных животных.

In [ ]:
# отдельно по колонкам

# respiratory rate

rr = calc_params(df['respiratory rate'])
print(rr)
# какие значения попали в выбросы
df[(df['respiratory rate'] < rr['lower outlier']) | (df['respiratory rate'] > rr['higher outlier'])]

{'mean': 30.417355371900825, 'moda': 20, 'median': 24.5, 'disp': 311.2483282466308, 'min': 8, 'max': 96, 'std': 17.64223138513467, 'q1': 18.5, 'q3': 36, 'IQR': 17.5, 'lower outlier': -7.75, 'higher outlier': 62.25}

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
3,1,2,39.1,164,84,4,2,2
39,1,2,39.2,146,96,NaN,NaN,2
41,2,2,39.0,150,72,NaN,NaN,1
82,1,2,38.1,100,80,3,3,1
84,1,1,37.8,60,80,1,2,1
103,1,2,38.0,140,68,1,3,1
106,1,1,38.3,52,96,NaN,NaN,1
120,1,1,39.4,54,66,1,2,1
125,1,1,38.0,42,68,4,3,1
186,1,1,39.3,64,90,2,NaN,1
208,1,1,37.8,88,80,3,NaN,3
229,1,2,38.5,120,70,NaN,NaN,1
244,1,2,38.2,124,88,1,2,1
255,1,2,38.8,184,84,1,4,2
265,2,1,NaN,56,68,3,3,3
269,1,1,39.3,64,90,2,NaN,1
295,1,1,NaN,120,70,4,2,3

***respiratory rate***
17 значений выброса. Работать с этими данными можно, т.к. дыхание вполне может превышать норму, а значения не являются аномально высокими или низкими, что исключает вариант неверных данных, а скорее всего является причиной заболевания.

In [ ]:
# rectal temperature
rt_nan = df[df['rectal temperature'].isna()]
print(rt_nan)
len(rt_nan)

    surgery?  Age  rectal temperature  pulse  respiratory rate  \
5          2    1                 NaN   <NA>              <NA>
7          1    1                 NaN     60              <NA>
8          2    1                 NaN     80                36
16         1    2                 NaN    128                36
28         1    1                 NaN   <NA>              <NA>
34         1    1                 NaN    100                30
35         2    1                 NaN    104                24
40         1    1                 NaN     88              <NA>
43         1    1                 NaN    120              <NA>
45         2    1                 NaN    120              <NA>
52         2    1                 NaN   <NA>              <NA>
56         1    1                 NaN   <NA>              <NA>
57         1    1                 NaN     64                36
58         1    1                 NaN   <NA>                20
59         2    1                 NaN     96              <NA>
65         1    1                 NaN     60                36
68         2    1                 NaN     52                16
74         1    2                 NaN   <NA>              <NA>
78         1    1                 NaN   <NA>              <NA>
86         1    1                 NaN     88                40
87         2    1                 NaN     40                16
93         2    1                 NaN   <NA>              <NA>
96         2    1                 NaN     84                36
101        1    1                 NaN     60                20
105        1    1                 NaN     70                36
110        1    1                 NaN     70                16
112        1    1                 NaN     40              <NA>
115        2    1                 NaN   <NA>                40
134        1    1                 NaN    100              <NA>
136        1    1                 NaN   <NA>              <NA>
142        1    1                 NaN    120              <NA>
145        2    1                 NaN     80                32
152        1    1                 NaN    100              <NA>
159        2    1                 NaN   <NA>                12
160        1    1                 NaN   <NA>              <NA>
167        2    1                 NaN     44                24
169        1    1                 NaN     65                24
173        1    1                 NaN    104              <NA>
174        2    1                 NaN   <NA>              <NA>
175        1    1                 NaN   <NA>              <NA>
177        1    1                 NaN     68                14
178        1    1                 NaN     60                30
191        2    2                 NaN    100                44
193        1    1                 NaN     60                48
207        1    1                 NaN   <NA>              <NA>
216        2    1                 NaN   <NA>              <NA>
219        1    1                 NaN     52                28
222        1    1                 NaN    112                13
227        1    2                 NaN   <NA>              <NA>
242        1    1                 NaN     36                32
245        2    1                 NaN     96              <NA>
253        2    1                 NaN    112                24
254        1    1                 NaN     80              <NA>
265        2    1                 NaN     56                68
272        1    1                 NaN    100                30
274        1    1                 NaN     76              <NA>
282        1    1                 NaN     70                16
288        1    1                 NaN   <NA>              <NA>
293        1    1                 NaN     78                24
295        1    1                 NaN    120                70

    temperature of extremities pain outcome
5                            2    2       1
7                            3  NaN       2
8                            3    4       3
16                           3    4       2
28                         NaN  NaN       2
34                           3    5       1
35                           4    4       3
40                           3    5       2
43                           3    4       3
45                           4    5       2
52                           1    1       1
56                         NaN  NaN       1
57                           2    5       2
58                           4    5       2
59                           3    5       2
65                           3    3       1
68                           1  NaN       1
74                         NaN  NaN       2
78                           3    5       2
86                           3    5       2
87                         NaN  NaN       3
93                           3    5       2
96                         NaN  NaN       1
101                          4    5       3
105                          1    2       1
110                          3    2       2
112                          2    1       1
115                          3    3       1
134                          3    5       2
136                          3    5       2
142                          4    5       2
145                          3    2       1
152                          3  NaN       1
159                          1    2       1
160                        NaN    4       1
167                          1    3       1
169                        NaN    5       3
173                          3    2       2
174                          3    4       2
175                        NaN  NaN       1
177                        NaN    4       2
178                          3    5       1
191                          2    4       1
193                          3    4       2
207                        NaN  NaN       2
216                        NaN  NaN       1
219                          3    3       1
222                          4    2       1
227                        NaN  NaN       1
242                          1    5       2
245                          3    5       2
253                          3    5       1
254                          3    4       1
265                          3    3       3
272                          3    5       1
274                        NaN  NaN       3
282                          3    2       2
288                        NaN  NaN       1
293                          3  NaN       3
295                          4    2       3

60

In [ ]:
# pulse
pulse_nan = df[df['pulse'].isna()]
print(pulse_nan)
len(pulse_nan)

    surgery?  Age  rectal temperature  pulse  respiratory rate  \
5          2    1                 NaN   <NA>              <NA>
28         1    1                 NaN   <NA>              <NA>
52         2    1                 NaN   <NA>              <NA>
56         1    1                 NaN   <NA>              <NA>
58         1    1                 NaN   <NA>                20
74         1    2                 NaN   <NA>              <NA>
78         1    1                 NaN   <NA>              <NA>
83         1    1                38.0   <NA>                24
93         2    1                 NaN   <NA>              <NA>
115        2    1                 NaN   <NA>                40
117        2    1                39.5   <NA>              <NA>
126        1    1                38.7   <NA>              <NA>
136        1    1                 NaN   <NA>              <NA>
151        1    1                39.3   <NA>              <NA>
159        2    1                 NaN   <NA>                12
160        1    1                 NaN   <NA>              <NA>
174        2    1                 NaN   <NA>              <NA>
175        1    1                 NaN   <NA>              <NA>
182        1    1                38.0   <NA>                24
204        1    1                39.2   <NA>                23
207        1    1                 NaN   <NA>              <NA>
216        2    1                 NaN   <NA>              <NA>
227        1    2                 NaN   <NA>              <NA>
288        1    1                 NaN   <NA>              <NA>

    temperature of extremities pain outcome
5                            2    2       1
28                         NaN  NaN       2
52                           1    1       1
56                         NaN  NaN       1
58                           4    5       2
74                         NaN  NaN       2
78                           3    5       2
83                           3    5       2
93                           3    5       2
115                          3    3       1
117                          3    3       3
126                          3    5       1
136                          3    5       2
151                          4    4       2
159                          1    2       1
160                        NaN    4       1
174                          3    4       2
175                        NaN  NaN       1
182                          3    5       2
204                          3    4       1
207                        NaN  NaN       2
216                        NaN  NaN       1
227                        NaN  NaN       1
288                        NaN  NaN       1

24

In [ ]:
# respiratory rate
rr_nan = df[df['respiratory rate'].isna()]
print(rr_nan)
len(rr_nan)

    surgery?  Age  rectal temperature  pulse  respiratory rate  \
5          2    1                 NaN   <NA>              <NA>
7          1    1                 NaN     60              <NA>
9          2    2                38.3     90              <NA>
28         1    1                 NaN   <NA>              <NA>
29         2    1                37.7     48              <NA>
32         1    1                37.2     60              <NA>
37         1    1                37.8     72              <NA>
38         2    1                38.6     52              <NA>
40         1    1                 NaN     88              <NA>
43         1    1                 NaN    120              <NA>
45         2    1                 NaN    120              <NA>
50         2    1                38.6     46              <NA>
52         2    1                 NaN   <NA>              <NA>
56         1    1                 NaN   <NA>              <NA>
59         2    1                 NaN     96              <NA>
61         2    1                38.5     60              <NA>
66         2    1                37.9     72              <NA>
72         1    1                37.7     56              <NA>
74         1    2                 NaN   <NA>              <NA>
75         1    2                39.7    100              <NA>
78         1    1                 NaN   <NA>              <NA>
81         1    1                37.3     40              <NA>
93         2    1                 NaN   <NA>              <NA>
112        1    1                 NaN     40              <NA>
117        2    1                39.5   <NA>              <NA>
126        1    1                38.7   <NA>              <NA>
129        1    1                38.4     49              <NA>
134        1    1                 NaN    100              <NA>
136        1    1                 NaN   <NA>              <NA>
137        1    1                38.0     48              <NA>
138        2    1                38.0     56              <NA>
142        1    1                 NaN    120              <NA>
146        1    1                38.2     48              <NA>
148        1    1                38.3    132              <NA>
151        1    1                39.3   <NA>              <NA>
152        1    1                 NaN    100              <NA>
160        1    1                 NaN   <NA>              <NA>
164        1    1                38.7     76              <NA>
173        1    1                 NaN    104              <NA>
174        2    1                 NaN   <NA>              <NA>
175        1    1                 NaN   <NA>              <NA>
179        2    1                38.5    100              <NA>
188        1    1                38.5     60              <NA>
201        1    1                38.5     86              <NA>
205        2    1                38.5    100              <NA>
207        1    1                 NaN   <NA>              <NA>
216        2    1                 NaN   <NA>              <NA>
227        1    2                 NaN   <NA>              <NA>
238        2    1                36.1     88              <NA>
245        2    1                 NaN     96              <NA>
249        2    1                38.2     48              <NA>
254        1    1                 NaN     80              <NA>
256        1    1                37.5     72              <NA>
271        1    1                37.7     80              <NA>
274        1    1                 NaN     76              <NA>
281        2    1                40.0     78              <NA>
284        2    1                38.5     54              <NA>
288        1    1                 NaN   <NA>              <NA>

    temperature of extremities pain outcome
5                            2    2       1
7                            3  NaN       2
9                            1    5       1
28                         NaN  NaN       2
29                           2    1       1
32                           2    3       1
37                         NaN    5       1
38                           1    3       1
40                           3    5       2
43                           3    4       3
45                           4    5       2
50                           1    1       1
52                           1    1       1
56                         NaN  NaN       1
59                           3    5       2
61                           2    1       1
66                           1    3       1
72                         NaN  NaN       2
74                         NaN  NaN       2
75                           3    2       3
78                           3    5       2
81                         NaN    2       1
93                           3    5       2
112                          2    1       1
117                          3    3       3
126                          3    5       1
129                        NaN  NaN       1
134                          3    5       2
136                          3    5       2
137                          1    1       1
138                          1    1       1
142                          4    5       2
146                          1    3       1
148                        NaN    2       1
151                          4    4       2
152                          3  NaN       1
160                        NaN    4       1
164                          1    3       1
173                          3    2       2
174                          3    4       2
175                        NaN  NaN       1
179                          3    4       3
188                          1  NaN       1
201                          1    4       2
205                          3    4       3
207                        NaN  NaN       2
216                        NaN  NaN       1
227                        NaN  NaN       1
238                          3    3       3
245                          3    5       2
249                          2    3       1
254                          3    4       1
256                          2    2       3
271                          3    5       1
274                        NaN  NaN       3
281                          3    2       2
284                          1    3       1
288                        NaN  NaN       1

58

In [ ]:
all_nan = df[df.isnull().any(1)]

In [ ]:
fill_na_df = df.copy()

# surgery
print(fill_na_df[fill_na_df['surgery?'].isnull()])
# для заполнения этого значения можно вернуть источнику данных для уточнения, т.к. значение всего одно. Но при этом мы не знаем так же результат.
# Но можно проанализировать данные и посмотреть какие значения есть у выборки лошадей в том же возрасте с теми же симптомами
print(fill_na_df[
          (fill_na_df['Age'] == 1)
          & (fill_na_df['temperature of extremities'] == '3')
          & (fill_na_df['pain'] == '4')]['surgery?'].value_counts())
# С похожими симптомами есть 18 лошадей и 11 из них surgery? = 11.
# Заполним таким же значением - 1
fill_na_df['surgery?'] = fill_na_df['surgery?'].fillna('1')

    surgery?  Age  rectal temperature  pulse  respiratory rate  \
132      NaN    1                38.0     48                20

    temperature of extremities pain outcome
132                          3    4     NaN
1    11
2     7
Name: surgery?, dtype: int64

In [ ]:
# rectal temperature
print(fill_na_df.groupby('temperature of extremities')['rectal temperature'].median())
# 60 судя по выборке пропуски MCAR, но заметна зависимость от temperature of extremities, заполнить значениями медиан по группам

fill_na_df['rectal temperature'] = fill_na_df['rectal temperature'].fillna(fill_na_df.groupby('temperature of extremities')['rectal temperature'].transform('median'))

# Остались несколько значение т.к. в temperature of extremities есть пропуски. Заполним общей медианой
fill_na_df['rectal temperature'] = fill_na_df['rectal temperature'].fillna(fill_na_df['rectal temperature'].median())

print('Было: ', rt)
print('Стало: ', calc_params(fill_na_df['rectal temperature']))

temperature of extremities
1    38.15
2    38.20
3    38.10
4    38.35
Name: rectal temperature, dtype: float64
Было:  {'mean': 38.16791666666667, 'moda': 38.0, 'median': 38.2, 'disp': 0.5362466875871686, 'min': 35.4, 'max': 40.8, 'std': 0.7322886641121578, 'q1': 37.8, 'q3': 38.5, 'IQR': 0.7000000000000028, 'lower outlier': 36.74999999999999, 'higher outlier': 39.550000000000004}
Стало:  {'mean': 38.16929824561404, 'moda': 38.1, 'median': 38.1, 'disp': 0.4484995058067703, 'min': 35.4, 'max': 40.8, 'std': 0.6697010570446864, 'q1': 37.9, 'q3': 38.5, 'IQR': 0.6000000000000014, 'lower outlier': 37.0, 'higher outlier': 39.400000000000006}

In [ ]:
# respiratory rate
print(fill_na_df.groupby(['Age', 'temperature of extremities'])['respiratory rate'].median())
# так же заполним медианами по группам 

fill_na_df['respiratory rate'] = fill_na_df['respiratory rate'].fillna(fill_na_df.groupby(['Age', 'temperature of extremities'])['respiratory rate'].transform('median'))

# остались только те записи в которых множество пропусков и по остальным полям - эти данные из дата-сэта удалим.

fill_na_df = fill_na_df.loc[~fill_na_df['respiratory rate'].isnull()]

print('Было: ', rr)
print('Стало: ', calc_params(fill_na_df['respiratory rate']))

Age  temperature of extremities
1    1                             24.0
     2                             31.0
     3                             26.0
     4                             30.0
2    1                             59.0
     2                             44.0
     3                             38.0
     4                             84.0
Name: respiratory rate, dtype: Float64
Было:  {'mean': 30.417355371900825, 'moda': 20, 'median': 24.5, 'disp': 311.2483282466308, 'min': 8, 'max': 96, 'std': 17.64223138513467, 'q1': 18.5, 'q3': 36, 'IQR': 17.5, 'lower outlier': -7.75, 'higher outlier': 62.25}
Стало:  {'mean': 29.996491228070177, 'moda': 24, 'median': 26.0, 'disp': 270.0035087719299, 'min': 8, 'max': 96, 'std': 16.43178349333784, 'q1': 20, 'q3': 36, 'IQR': 16, 'lower outlier': -4.0, 'higher outlier': 60.0}

In [ ]:
# pulse
fill_na_df[fill_na_df['pulse'].isnull()]

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
5,2,1,38.20,<NA>,31,2,2,1
52,2,1,38.15,<NA>,24,1,1,1
58,1,1,38.35,<NA>,20,4,5,2
78,1,1,38.10,<NA>,26,3,5,2
83,1,1,38.00,<NA>,24,3,5,2
93,2,1,38.10,<NA>,26,3,5,2
115,2,1,38.10,<NA>,40,3,3,1
117,2,1,39.50,<NA>,26,3,3,3
126,1,1,38.70,<NA>,26,3,5,1
136,1,1,38.10,<NA>,26,3,5,2
151,1,1,39.30,<NA>,30,4,4,2
159,2,1,38.15,<NA>,12,1,2,1
174,2,1,38.10,<NA>,26,3,4,2
182,1,1,38.00,<NA>,24,3,5,2
204,1,1,39.20,<NA>,23,3,4,1

In [ ]:
# пульс зависит от возраста и temperature of extremities
print(fill_na_df.groupby(['Age', 'temperature of extremities'])['pulse'].median())
# так же заполним медианами по группам 
fill_na_df['pulse'] = fill_na_df['pulse'].fillna(fill_na_df.groupby(['Age', 'temperature of extremities'])['pulse'].transform('median'))
print('Было: ', pulse)
print('Стало: ', calc_params(fill_na_df['pulse']))

Age  temperature of extremities
1    1                              52.0
     2                              55.0
     3                              78.0
     4                              89.0
2    1                             124.0
     2                             100.0
     3                             124.0
     4                             164.0
Name: pulse, dtype: Float64
Было:  {'mean': 71.91304347826087, 'moda': 48, 'median': 64.0, 'disp': 819.7087747035573, 'min': 30, 'max': 184, 'std': 28.630556660735, 'q1': 48, 'q3': 88, 'IQR': 40, 'lower outlier': -12.0, 'higher outlier': 148.0}
Стало:  {'mean': 72.0701754385965, 'moda': 48, 'median': 65.0, 'disp': 781.7697059550284, 'min': 30, 'max': 184, 'std': 27.960144955901576, 'q1': 48, 'q3': 88, 'IQR': 40, 'lower outlier': -12.0, 'higher outlier': 148.0}