## Обязательная часть

Будем осуществлять работу с непростым [набором данных](https://raw.githubusercontent.com/obulygin/pyda_homeworks/master/statistics_basics/horse_data.csv) о состоянии здоровья лошадей, испытывающих кишечные колики.

### Задание 1. Базовое изучение

Изучить представленный набор данных на основе [описания его столбцов](https://raw.githubusercontent.com/obulygin/pyda_homeworks/master/statistics_basics/horse_data.names) и выбрать 8 столбцов для дальнейшего изучения (среди них должны быть как числовые, так и категориальные). Провести расчет базовых метрик для них, кратко описать результаты.

### Задание 2. Работа с выбросами
Проанализировать значения по столбцам, рассчитать базовые статистики, найти выбросы.

### Задание 3. Работа с пропусками
Рассчитать количество пропусков для всех выбранных столбцов. Принять и обосновать решение о методе заполнения пропусков по каждому столбцу на основе рассчитанных статистик и возможной взаимосвязи значений в них. Сформировать датафрейм, в котором пропуски будут отсутствовать.

In [28]:
import pandas as pd
import numpy as np

In [ ]:
# добавим наименование столбцов согласно описанию
with open('./data/horse_data.csv', 'r') as original:
    f = original.read()
with open('./data/horse_data_modified.csv', 'w') as withcolums:
    withcolums.write('surgery?,Age,Hospital Number,rectal temperature,pulse,respiratory rate,temperature of extremities,peripheral pulse,mucous membranes,capillary refill time,pain,peristalsis,abdominal distension,nasogastric tube,nasogastric reflux,nasogastric reflux PH,rectal examination - feces,abdomen,packed cell volume,total protein,abdominocentesis appearance,abdomcentesis total protein,outcome,surgical lesion?,number is site of lesion,number is type,number is subtype,cp_data\n' + f)
    print('add columns names done')

In [179]:
horses_df = pd.read_csv('./data/horse_data_modified.csv')
horses_df

,surgery?,Age,Hospital Number,rectal temperature,pulse,respiratory rate,temperature of extremities,peripheral pulse,mucous membranes,capillary refill time,...,packed cell volume,total protein,abdominocentesis appearance,abdomcentesis total protein,outcome,surgical lesion?,number is site of lesion,number is type,number is subtype,cp_data
0,2,1,530101,38.50,66,28,3,3,?,2,...,45.00,8.40,?,?,2,2,11300,0,0,2
1,1,1,534817,39.2,88,20,?,?,4,1,...,50,85,2,2,3,2,2208,0,0,2
2,2,1,530334,38.30,40,24,1,1,3,1,...,33.00,6.70,?,?,1,2,0,0,0,1
3,1,9,5290409,39.10,164,84,4,1,6,2,...,48.00,7.20,3,5.30,2,1,2208,0,0,1
4,2,1,530255,37.30,104,35,?,?,6,2,...,74.00,7.40,?,?,2,2,4300,0,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,1,1,533886,?,120,70,4,?,4,2,...,55,65,?,?,3,2,3205,0,0,2
296,2,1,527702,37.20,72,24,3,2,4,2,...,44.00,?,3,3.30,3,1,2208,0,0,1
297,1,1,529386,37.50,72,30,4,3,4,1,...,60.00,6.80,?,?,2,1,3205,0,0,2
298,1,1,530612,36.50,100,24,3,3,3,1,...,50.00,6.00,3,3.40,1,1,2208,0,0,1
299,1,1,534618,37.2,40,20,?,?,?,?,...,36,62,1,1,3,2,6112,0,0,2

In [114]:
# меняем типы данных
horses_df['rectal temperature'] = pd.to_numeric(horses_df['rectal temperature'], errors='coerce')
horses_df['pulse'] = pd.to_numeric(horses_df['pulse'], errors='coerce')
horses_df['respiratory rate'] = pd.to_numeric(horses_df['respiratory rate'], errors='coerce')
horses_df['temperature of extremities'] = pd.to_numeric(horses_df['temperature of extremities'], errors='coerce')
horses_df['pain'] = pd.to_numeric(horses_df['pain'], errors='coerce')
horses_df['outcome'] = pd.to_numeric(horses_df['outcome'], errors='coerce')
horses_df['pulse'] = horses_df['pulse'].astype("Int32")
horses_df['respiratory rate'] = horses_df['respiratory rate'].astype("Int32")
horses_df['temperature of extremities'] = horses_df['temperature of extremities'].astype("Int32")
horses_df['pain'] = horses_df['pain'].astype("Int32")
horses_df['outcome'] = horses_df['outcome'].astype("Int32")
# точно определяем пустые значения в дата-сете
horses_df.replace('?', np.nan, inplace=True)
# забираем нужные столбцы для анализа
df = horses_df[['surgery?','Age', 'rectal temperature', 'pulse', 'respiratory rate', 'temperature of extremities', 'pain', 'outcome']]
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 8 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   surgery?                    299 non-null    Int32
 1   Age                         300 non-null    int64
 2   rectal temperature          240 non-null    float64
 3   pulse                       276 non-null    Int32
 4   respiratory rate            242 non-null    Int32
 5   temperature of extremities  244 non-null    Int32
 6   pain                        245 non-null    Int32
 7   outcome                     299 non-null    Int32
dtypes: Int32(6), float64(1), int64(1)
memory usage: 13.6 KB

In [210]:
# определенно в Age ошибка со значением 9 т.к. в описании есть категории 1 и 2
df['Age'] = df['Age'].replace(9, 2)
df

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
0,2,1,38.5,66,28,3,5,2
1,1,1,39.2,88,20,<NA>,3,3
2,2,1,38.3,40,24,1,3,1
3,1,2,39.1,164,84,4,2,2
4,2,1,37.3,104,35,<NA>,<NA>,2
...,...,...,...,...,...,...,...,...
295,1,1,NaN,120,70,4,2,3
296,2,1,37.2,72,24,3,4,3
297,1,1,37.5,72,30,4,4,2
298,1,1,36.5,100,24,3,3,1
299,1,1,37.2,40,20,<NA>,<NA>,3

# Задание 1
## Анализ колонок дата-сета
### Категории
surgery?
Age
temperature of extremities
pain
outcome


### Числовые
rectal temperature
pulse
respiratory rate

In [128]:
# Сводная по параметрам
df.describe()
# в таком виде по категориальным типам данные бессмысленны, далее посчитаем отдельно

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
count,299.000000,300.000000,240.000000,276.000000,242.000000,244.000000,245.00000,299.000000
mean,1.397993,1.080000,38.167917,71.913043,30.417355,2.348361,2.95102,1.551839
std,0.490305,0.271746,0.732289,28.630557,17.642231,1.045054,1.30794,0.737187
min,1.000000,1.000000,35.400000,30.000000,8.000000,1.000000,1.00000,1.000000
25%,1.000000,1.000000,37.800000,48.000000,18.500000,1.000000,2.00000,1.000000
50%,1.000000,1.000000,38.200000,64.000000,24.500000,3.000000,3.00000,1.000000
75%,2.000000,1.000000,38.500000,88.000000,36.000000,3.000000,4.00000,2.000000
max,2.000000,2.000000,40.800000,184.000000,96.000000,4.000000,5.00000,3.000000

# Задание 2
С категориями можно работать в рамках группировки дата-сета, по числовым можно проводить аналитику после обработки данных

Посчитаем основные метрики и выбросы для числовых столбцов

In [204]:
# Например, посмотреть зависимость возраста лошади и необходимости проведения операций
df.groupby('Age')['surgery?'].value_counts()

Age  surgery?
1    1           162
     2           113
2    1            18
     2             6
Name: surgery?, dtype: int64

In [156]:
def calc_params(column):
    q1 = column.quantile(0.25)
    q3 = column.quantile(0.75)
    iqr = q3 - q1
    return {
        'mean': column.mean(),
        'moda': column.mode()[0],
        "median": column.median(),
        "disp": column.var(),
        'min': column.min(),
        'max': column.max(),
        'std': column.std(),
        'q1': q1,
        'q3': q3,
        'IQR': iqr,
        'lower outlier': q1 - (1.5*iqr),
        'higher outlier': q3 + (1.5*iqr)
    }

In [168]:
# rectal temperature
columns = df[['rectal temperature', 'pulse', 'respiratory rate']]
for col in columns:
    res = calc_params(df[col])
    print(f'{col}:')
    for key, val in res.items():
        print(f'    {key}: {val} ')

rectal temperature:
    mean: 38.16791666666667
    moda: 38.0
    median: 38.2
    disp: 0.5362466875871686
    min: 35.4
    max: 40.8
    std: 0.7322886641121578
    q1: 37.8
    q3: 38.5
    IQR: 0.7000000000000028
    lower outlier: 36.74999999999999
    higher outlier: 39.550000000000004
pulse:
    mean: 71.91304347826087
    moda: 48
    median: 64.0
    disp: 819.7087747035573
    min: 30
    max: 184
    std: 28.630556660735
    q1: 48
    q3: 88
    IQR: 40
    lower outlier: -12.0
    higher outlier: 148.0
respiratory rate:
    mean: 30.417355371900825
    moda: 20
    median: 24.5
    disp: 311.2483282466308
    min: 8
    max: 96
    std: 17.64223138513467
    q1: 18.5
    q3: 36
    IQR: 17.5
    lower outlier: -7.75
    higher outlier: 62.25

In [212]:
# отдельно по колонкам

# rectal temperature

rt = calc_params(df['rectal temperature'])
print(rt)
# какие значения попали в выбросы
df[~(df['rectal temperature'].between(rt['lower outlier'], rt['higher outlier'])) & (~df['rectal temperature'].isnull())]

{'mean': 38.16791666666667, 'moda': 38.0, 'median': 38.2, 'disp': 0.5362466875871686, 'min': 35.4, 'max': 40.8, 'std': 0.7322886641121578, 'q1': 37.8, 'q3': 38.5, 'IQR': 0.7000000000000028, 'lower outlier': 36.74999999999999, 'higher outlier': 39.550000000000004}

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
20,1,1,39.9,72,60,1,5,1
44,1,1,35.4,140,24,3,4,3
54,2,1,40.3,114,36,3,2,3
75,1,2,39.7,100,<NA>,3,2,3
80,1,1,36.4,98,35,3,4,2
91,2,1,40.3,114,36,3,2,2
99,2,1,39.6,108,51,3,2,1
118,1,1,36.5,78,30,1,5,1
141,2,1,36.0,42,30,<NA>,<NA>,2
238,2,1,36.1,88,<NA>,3,3,3
251,2,1,36.6,42,18,3,1,2
259,1,1,40.8,72,42,3,2,2
281,2,1,40.0,78,<NA>,3,2,2
298,1,1,36.5,100,24,3,3,1

***rectal temperature***

14 значений выброса.
Работать с этими данными можно, т.к. температура вполне может превышать норму, а значения не являются аномально высокими или низкими, что исключает вариант неверных данных, а скорее всего является причиной заболевания.

In [182]:
# отдельно по колонкам

# pulse

pulse = calc_params(df['pulse'])
print(pulse)
# какие значения попали в выбросы
df[(df['pulse'] < pulse['lower outlier']) | (df['pulse'] > pulse['higher outlier'])]

{'mean': 71.91304347826087, 'moda': 48, 'median': 64.0, 'disp': 819.7087747035573, 'min': 30, 'max': 184, 'std': 28.630556660735, 'q1': 48, 'q3': 88, 'IQR': 40, 'lower outlier': -12.0, 'higher outlier': 148.0}

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
3,1,2,39.1,164,84,4,2,2
41,2,2,39.0,150,72,<NA>,<NA>,1
55,1,2,38.6,160,20,3,3,2
255,1,2,38.8,184,84,1,4,2
275,1,2,38.8,150,50,1,5,2

***pulse***
5 значений выброса. Работать с этими данными можно, т.к. пульс вполне может превышать норму, а значения не являются аномально высокими или низкими, что исключает вариант неверных данных, а скорее всего является причиной заболевания.

In [199]:
# отдельно по колонкам

# pulse

rr = calc_params(df['respiratory rate'])
print(rr)
# какие значения попали в выбросы
df[(df['respiratory rate'] < rr['lower outlier']) | (df['respiratory rate'] > rr['higher outlier'])]

{'mean': 30.417355371900825, 'moda': 20, 'median': 24.5, 'disp': 311.2483282466308, 'min': 8, 'max': 96, 'std': 17.64223138513467, 'q1': 18.5, 'q3': 36, 'IQR': 17.5, 'lower outlier': -7.75, 'higher outlier': 62.25}

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
3,1,2,39.1,164,84,4,2,2
39,1,2,39.2,146,96,<NA>,<NA>,2
41,2,2,39.0,150,72,<NA>,<NA>,1
82,1,2,38.1,100,80,3,3,1
84,1,1,37.8,60,80,1,2,1
103,1,2,38.0,140,68,1,3,1
106,1,1,38.3,52,96,<NA>,<NA>,1
120,1,1,39.4,54,66,1,2,1
125,1,1,38.0,42,68,4,3,1
186,1,1,39.3,64,90,2,<NA>,1
208,1,1,37.8,88,80,3,<NA>,3
229,1,2,38.5,120,70,<NA>,<NA>,1
244,1,2,38.2,124,88,1,2,1
255,1,2,38.8,184,84,1,4,2
265,2,1,NaN,56,68,3,3,3
269,1,1,39.3,64,90,2,<NA>,1
295,1,1,NaN,120,70,4,2,3

***respiratory rate***
17 значений выброса. Работать с этими данными можно, т.к. дыхание вполне может превышать норму, а значения не являются аномально высокими или низкими, что исключает вариант неверных данных, а скорее всего является причиной заболевания.

In [219]:
df[df['rectal temperature'].isna()].count()
df[df['pulse'].isna()].count()
df[df['respiratory rate'].isna()]

58