In [2]:
import pandas as pd

# Задание 1
Напишите функцию, которая классифицирует фильмы из материалов занятия по следующим правилам:
- оценка 2 и меньше - низкий рейтинг
- оценка 4 и меньше - средний рейтинг
- оценка 4.5 и 5 - высокий рейтинг

Результат классификации запишите в столбец class

In [11]:
ratings = pd.read_csv('../data/ratings.csv')
ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100004 entries, 0 to 100003
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   userId     100004 non-null  int64
 1   movieId    100004 non-null  int64
 2   rating     100004 non-null  float64
 3   timestamp  100004 non-null  int64
dtypes: float64(1), int64(3)
memory usage: 3.1 MB

In [15]:
def classify(rating):
    if rating <= 2:
        return 'Low'
    elif 2 < rating <= 4:
        return "Middle"
    elif rating == 4.5 or rating == 5:
        return "Hi"

ratings['class'] = ratings['rating'].apply(classify)
ratings.sort_values('rating', ascending=False)

       userId  movieId  rating   timestamp class
33889     242     2929     5.0   956687566    Hi
36867     265     1233     5.0   960056214    Hi
46251     337     1356     5.0  1447176421    Hi
14749      95     3948     5.0  1025556197    Hi
14747      95     3917     5.0  1019023102    Hi
...       ...      ...     ...         ...   ...
76709     531     1258     0.5  1243454822   Low
2530       15   109187     0.5  1465794437   Low
76706     531     1183     0.5  1244062924   Low
76700     531     1036     0.5  1240402328   Low
68262     475     3564     0.5  1447778383   Low

[100004 rows x 5 columns]

# Задание 2
Используем файл keywords.csv.

Необходимо написать гео-классификатор, который каждой строке сможет выставить географическую принадлежность определенному региону. Т. е. если поисковый запрос содержит название города региона, то в столбце ‘region’ пишется название этого региона. Если поисковый запрос не содержит названия города, то ставим ‘undefined’.

Правила распределения по регионам Центр, Северо-Запад и Дальний Восток:
```python
geo_data = {
'Центр': ['москва', 'тула', 'ярославль'],
'Северо-Запад': ['петербург', 'псков', 'мурманск'],
'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
}
```
Результат классификации запишите в отдельный столбец region.

In [17]:
geo_data = {
    'Центр': ['москва', 'тула', 'ярославль'],
    'Северо-Запад': ['петербург', 'псков', 'мурманск'],
    'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
}

geo_df = pd.read_csv('../data/keywords.csv')
geo_df.head()

         keyword     shows
0             вк  64292779
1  одноклассники  63810309
2          порно  41747114
3           ютуб  39995567
4      вконтакте  21014195

In [86]:
def add_region(word):
    for key, cities in geo_data.items():
        for city in cities:
            if city in word.lower():
                return key
    return 'undefined'
geo_df['region'] = geo_df['keyword'].apply(add_region)
geo_df[geo_df['region'] != 'undefined'].value_counts(['region'])

region
Центр             387
Северо-Запад      266
Дальний Восток     94
dtype: int64

# Задание 3 (бонусное)

Есть мнение, что “раньше снимали настоящее кино, не то что сейчас”. Ваша задача проверить это утверждение, используя файлы с рейтингами фильмов из прошлого домашнего занятия (файл movies.csv и ratings.csv из базы grouplens.org.../movielens). Т. е. проверить верно ли, что с ростом года выпуска фильма его средний рейтинг становится ниже.

При этом мы не будем затрагивать субьективные факторы выставления этих рейтингов, а пройдемся по следующему алгоритму:

В переменную years запишите список из всех годов с 1950 по 2010.

Напишите функцию production_year, которая каждой строке из названия фильма выставляет год выпуска. Не все названия фильмов содержат год выпуска в одинаковом формате, поэтому используйте следующий алгоритм:

для каждой строки пройдите по всем годам списка years
если номер года присутствует в названии фильма, то функция возвращает этот год как год выпуска
если ни один из номеров года списка years не встретился в названии фильма, то возвращается 1900 год
Запишите год выпуска фильма по алгоритму пункта 2 в новый столбец ‘year’

Посчитайте средний рейтинг всех фильмов для каждого значения столбца ‘year’ и отсортируйте результат по убыванию рейтинга

P.S. все файлы находятся в архиве «дополнительные файлы к лекции и дз»

In [81]:
years = [2010 - index for index in range(61)]
movies = pd.read_csv('../data/movies.csv')
df_merge = movies.merge(ratings, left_on='movieId', right_on='movieId')
df_merge

,movieId,title,genres,userId,rating,timestamp,class
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,7,3.0,851866703,Middle
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,9,4.0,938629179,Middle
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,13,5.0,1331380058,Hi
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,15,2.0,997938310,Low
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,19,3.0,855190091,Middle
...,...,...,...,...,...,...,...
99999,161944,The Last Brickmaker in America (2001),Drama,287,5.0,1470167824,Hi
100000,162376,Stranger Things,Drama,73,4.5,1474255532,Hi
100001,162542,Rustom (2016),Romance|Thriller,611,5.0,1471520667,Hi
100002,162672,Mohenjo Daro (2016),Adventure|Drama|Romance,611,3.0,1471523986,Middle
100003,163949,The Beatles: Eight Days a Week - The Touring Y...,Documentary,547,5.0,1476419239,Hi

In [76]:
def production_year(title):
    for year in years:
        if str(year) in title:
            return year
    return 1900
df_merge['year'] = df_merge['title'].apply(production_year)
df_merge.groupby(['year'])['rating'].agg(['mean']).round(2).sort_values(by='mean', ascending=False)

      mean
year
1972  4.01
1957  4.01
1952  4.00
1974  4.00
1954  3.99
...    ...
1990  3.45
2003  3.44
1996  3.43
1997  3.42
2000  3.35

[62 rows x 1 columns]